
<form [formGroup]="customerForm" autocomplete="off" (ngSubmit) = "onSave()">
    <div class="card border-danger">
        <div class="card-header text-center" style="color: red;" *ngIf="showUpdate">
            Customer Update
        </div>
          <div class="card-body">
            
            <div class="form-gorup">
                <div class="form-row">
                    <div class="col">
                        <label for="firstName" class="form-label">First Name</label>

                        <input type="text" class="form-control" name="firstName" id="firstName"
                            formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && c.firstName.errors }"
                             placeholder="Enter Customer Code" />
                        <div *ngIf="submitted &&c.firstName?.errors" class="invalid-feedback">
                            <div *ngIf=" c.firstName.errors?.required">First Name is Required!!
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <label for="lastName" class="form-label">Last Name</label>

                        <input type="text" class="form-control" name="lastName" id="lastName"
                            formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && c.lastName.errors }"
                             placeholder="Enter Last Name" />
                        <div *ngIf="submitted && c.lastName?.errors" class="invalid-feedback">
                            <div *ngIf=" c.lastName.errors?.required">Last Name is Required!!
                            </div>
                        </div>
                        
                       
                    </div>
                   
                </div>
                 
            </div>
            <div class="form-gorup">
                <div class="form-row">
                    <div class="col">
                        <label for="Code" class="form-label">Phone No</label>

                        <input type="text" class="form-control" name="mobileNo" id="mobileNo"
                            formControlName="mobileNo"
                            [ngClass]="{ 'is-invalid': submitted && c.mobileNo?.errors }"
                             placeholder="Enter Phone No" />
                        <div *ngIf="submitted &&  c.mobileNo?.errors" class="invalid-feedback">
                            <div *ngIf="  c.mobileNo.errors?.required">Phone No is Required!!
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <label for="Code" class="form-label">Email</label>

                        <input type="text" class="form-control" name="email" id="customerName"
                            formControlName="email"
                            [ngClass]="{ 'is-invalid': c.email?.errors }"
                             placeholder="Enter Email" />
                        
                             <div class="invalid-feedback" *ngIf="  c.email.errors?.email">Enter correct Email!
                            </div>
                       
                    </div>
                   
                </div>
                 
            </div>
            <div class="form-gorup">
                <div class="form-row">
                    <div class="col">
                        <label for="address1" class="form-label">Address</label>
                        <textarea type="text" class="form-control" name="description" rows="1" id="address1"
                            formControlName="address" placeholder="Enter Address"></textarea>
                    </div>
                    <div class="col">
                    
                        
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row-reverse">
                <button type="submit" class="btn btn-danger" style="margin-right: 25px;" *ngIf="showSave">Save</button>
                <button type="submit" class="btn btn-primary" style="margin-right: 25px;" *ngIf="showUpdate">Update</button>
            </div>
        </div>
    </div>
</form>



