<img src="../../../assets/Img/single_user.png" class="mx-auto d-block">
<form [formGroup]="logInForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" formControlName="userName" [ngClass]=" {'is-invalid':(log.userName?.touched || submitted) && log.userName?.errors }">
        <div *ngIf="(log.userName?.touched || submitted) && log.userName?.errors" class="invalid-feedback">
            <div *ngIf="log.userName.errors?.required">
                User Name Is Required!!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" [ngClass]=" {'is-invalid':(log.password?.touched || submitted) && log.password?.errors }">
        <div *ngIf="(log.password?.touched || submitted) && log.password?.errors" class="invalid-feedback">
            <div *ngIf="log.password?.errors?.required">
                Password Is Required!!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </div>
    </div>
</form>
