<div class="justify-content-center">
    <!-- <div class="row">
        <div class="col-md-12">
            <app-customer-entry></app-customer-entry>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header bg-secondary text-white text-center">
                    <h5 class="card-title">Customer List</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>Sl</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Address</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers; let i = index">
                                <td class="text-center">{{i+1}}</td>
                                <td>{{customer.customerCode}}</td>
                                <td>{{customer.firstName}} {{customer.lastName}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.mobileNo}}</td>
                                <td>{{customer.address}}</td>
                                
                                <td>
                                    <button type="button" class="btn btn-default btn-sm"
                                        (click)="editButtonClick(customer.id)"><i class="fa fa-pencil-square"
                                            aria-hidden="true"></i></button> &nbsp;
                                    <button type="button" class="btn btn-default btn-sm"
                                        (click)="deleteButtonClick(customer.id)"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>