
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <a class="navbar-brand" href="#">Angular 6</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="productList">Product Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink ="createProductType">Product type entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="Sales">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive ="active" routerLink="customerList">Customer</a>
        </li>
      </ul>
    </nav>
   
    <router-outlet></router-outlet>
  </div>
    


