<div class="container-fluid">
    <form class="form-horizontal" autocomplete="off" [formGroup]="salesForm" (ngSubmit)="onSaveSale()">
            <br />
                <div class="card border-danger">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                Sales Info
                            </div>
                            <div class="col d-flex flex-row-reverse">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="registrationButtonClick()"> <i class="fa fa-user-plus"
                                                aria-hidden="true" fa-lg style="display: inline;"></i> <span
                                                class="ml-1">Reg</span>
                                        </button>

                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-danger" *ngIf="regShowHide"
                                            (click)="regCancelButton()"><i class="fa fa-window-close" aria-hidden="true"
                                                fa-lg></i>
                                        </button>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div *ngIf="hideCustomerCode">
                            <div class="form-gorup">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="Code" class="form-label">Customer Code/Phone No</label>

                                        <input type="text" class="form-control" name="customerCode" id="customerCode"
                                            (keyup)="findCustomer($event)" placeholder="Enter Customer Code or Phone No" />


                                    </div>
                                    <div class="col">

                                        <label class="form-label">Customer Name:</label>
                                        <input type="text" formControlName="customerName" class="form-control"
                                            [ngModel]="customerCodeValue" readonly value="Name Test" />

                                    </div>

                                </div>

                            </div>
                        </div>
                        <hr />
                        <div *ngIf="regShowHide">
                            <app-customer-entry></app-customer-entry>
                        </div>
                        <hr />

                        <div class="form-gorup">
                            <div class="form-row">

                                <div class="col">
                                    <label for="customerName" class="form-label">Sales Code</label>

                                    <input type="text" class="form-control" name="customerName" id="customerName"
                                        formControlName="saleNo" placeholder="Sales Code" readonly />


                                </div>
                                <div class="col">
                                    <label for="date" class="form-label">Date </label>

                                    <input type="text" bsDatepicker class="form-control" name="customername" id="date"
                                        formControlName="date" [ngClass]="{'is-invalid': submitted && Sel.date?.errors}"
                                        [bsConfig]="{ isAnimated: true }" placeholder="MM/DD/YYYY" />
                                    <div *ngIf="submitted && Sel.date?.errors" class="invalid-feedback">
                                        <div *ngIf="Sel.date.errors?.required">
                                            Date is Required!!
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-gorup">
                            <div class="form-row">
                                <div class="col">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea type="text" class="form-control" name="description" rows="1" id="address"
                                        formControlName="description" placeholder="Description"></textarea>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="card border-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                Details Info
                            </div>
                            <div class="col d-flex flex-row-reverse">

                                <button type="button" (click)="addProduct()" class="btn btn-warning ">Add
                                    Product</button>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <div formArrayName="details"
                                    *ngFor="let detail of salesForm.get('details')['controls']; let i = index">
                                    <div [formGroupName]="i">
                                        <thead>
                                            <tr >
                                                <th>
                                                    SL
                                                </th>
                                                <th>Product Type</th>
                                                <th> Product </th>
                                                <th>UnitPrice</th>
                                                <th>Qty</th>
                                                <th>Total Price</th>
                                                <th>Description</th>
                                                <th>Remove Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngIf="productAdded && i>0">
                                                <td>{{i}}</td>
                                                <td><select class="custom-select" palceholder="Select Product"
                                                        formControlName="productTypeId"
                                                        (change)="ChangeSelectedValue($event)">
                                                        <option value=""></option>
                                                        <option>Select Product Type</option>
                                                        <option *ngFor="let producttype of productType"
                                                            [value]="producttype.id">
                                                            {{producttype.name}}</option>

                                                    </select></td>
                                                <td>
                                                    <select class="custom-select" palceholder="Select Product"
                                                        (change)="changeProductSelectValue($event)"
                                                        formControlName="productId">
                                                        <option value=""></option>
                                                        <option>Select Product Type</option>
                                                        <option *ngFor="let product of productByType"
                                                            [value]="product.id">
                                                            {{product.name}}</option>

                                                    </select>
                                                </td>
                                                <td>{{unitPriceByProductId}}</td>
                                                <td>
                                                    <input type="text" formControlName="qty" class="form-control"
                                                        (keyup)="onKey($event)"
                                                        [ngClass]="{'is-invalid':submitted && detail.get('qty')?.errors }"
                                                        [id]="'qty'+ i" palceholder="Qty" formControlName="qty" />
                                                    <div *ngIf="submitted && detail.get('qty')?.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf=" detail.get('qty').errors?.required">Qty is required
                                                        </div>
                                                    </div>
                                                </td>
                                                <td fromControlName="totalPrice">
                                                    {{totalPrice}}
                                                </td>
                                                <td>
                                                    <textarea type="text" class="form-control" name="description"
                                                        rows="1" id="address" formControlName="description"
                                                        placeholder="Commant"></textarea>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        (click)="removeDetailsButton(i)">Remove</button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </div>
                                </div>
                            </table>

                        </div>
                    </div>

                </div>

                <br>
                <div class="row d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-success mr-3">Save</button>
                </div>
            

       

    </form>
</div>