<div class="container-fluid">
    <form class="form-horizontal" autocomplete="off" [formGroup]="salesForm" (ngSubmit)="onSaveSale()">
        <br />
        <div class="card border-danger">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Sales Info
                    </div>
                    <div class="col">
                        <div class="row float-right">
                            <div class="col">
                                <button type="button" class="btn btn-outline-danger" (click)="registrationButtonClick()"> <i class="fa fa-user-plus" aria-hidden="true" fa-lg style="display: inline;"></i> <span class="ml-1">Reg</span>
                                </button>

                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-danger" *ngIf="regShowHide" (click)="regCancelButton()"><i class="fa fa-window-close" aria-hidden="true" fa-lg></i>
                                </button>
                            </div>


                        </div>


                    </div>
                </div>
            </div>


            <div class="card-body">
                <div *ngIf="hideCustomerCode">
                    <div class="form-gorup">
                        <div class="form-row">
                            <div class="col">
                                <label for="Code" class="form-label required">Customer Code/Phone No</label>

                                <input type="text" class="form-control" name="customerCode" id="customerCode" formControlName="customerCode" (keyup)="findCustomer($event)" placeholder="Enter Customer Code or Phone No" />
                               


                            </div>
                            <div class="col">

                                <label class="form-label">Customer Name:</label>
                                <input type="text" class="form-control" [value]="customerCodeValue" formControlName="customerName" readonly />
                                <input type="hidden" formControlName="customerId" class="form-control" [ngModel]="csId" />

                            </div>

                        </div>

                    </div>
                </div>
                <div *ngIf="regShowHide">
                    <app-customer-entry></app-customer-entry>
                </div>
                <hr />

                <div class="form-gorup">
                    <div class="form-row">

                        <div class="col">
                            <label for="saleCode" class="form-label">Sales Code</label>

                            <input type="text" class="form-control" name="saleCode" id="saleCode" formControlName="saleNo" placeholder="Sales Code" [ngModel]="loadSaleCode" readonly />


                        </div>
                        <div class="col">
                            <label for="date" class="form-label">Date </label>

                            <input type="text" bsDatepicker class="form-control" name="date" id="date" formControlName="date" [ngClass]="{'is-invalid': submitted && Sel.date?.errors}" [bsConfig]="{ isAnimated: true }" placeholder="MM/DD/YYYY" />
                            <div *ngIf="submitted && Sel.date?.errors" class="invalid-feedback">
                                <div *ngIf="Sel.date.errors?.required">
                                    Date is Required!!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-gorup">
                    <div class="form-row">
                        <div class="col">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" name="description" rows="1" id="address" formControlName="description" placeholder="Description"></textarea>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="card border-warning">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Details Info
                    </div>
                    <div class="col">

                        <button type="button" (click)="addProduct()" class="btn btn-warning float-right"[disabled]="salesForm.get('salesDetails').invalid"> Add Product
                            </button>

                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead class="text-center">
                            <tr>
                                <th>SL</th>
                                <th>Product Type</th>
                                <th> Product </th>
                                <th>UnitPrice</th>
                                <th>Qty</th>
                                <th>Total Price</th>
                                <th>Description</th>
                                <th>Remove Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <ng-container formArrayName="salesDetails" *ngFor="let detail of salesDetail.controls; let i = index">
                                <ng-container [formGroupName]="i">
                                    <tr *ngIf="productAdded">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <select class="custom-select" formControlName ="productTypeId" palceholder="Select Product Type" >
                                                <option value=null>---Select---</option>
                                                <option *ngFor="let producttype of productType" [value]="producttype.id">
                                                    {{producttype.name}}</option>

                                            </select>
                                        </td>
                                        <td>
                                            <select  class="custom-select" palceholder="Select Product" formControlName="productId" [ngClass]="{'is-invalid':submitted && detail.get('productId')?.errors }">
                                                <option value=null>---Select---</option>
                                                <option *ngFor="let product of getProduct(detail.controls['productTypeId'].value)" [value]="product.id">
                                                    {{product.name}}</option>
                                            </select>

                                            <div *ngIf="submitted && detail.get('productId')?.errors" class="invalid-feedback">
                                                <div *ngIf=" detail.get('productId').errors?.required">Product is
                                                    required
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <ng-container *ngFor="let item of getProductUnitPrice(detail.controls['productId'].value)">
                                                {{item.price}}
                                                <input type="hidden" formControlName="unitPrice" class="form-control" [ngModel]="item.price"/>
                                            </ng-container>
                                          
                                            
                                        </td>
                                        <td>
                                            <input type="number" formControlName="qty" class="form-control"  [ngClass]="{'is-invalid':submitted && detail.get('qty')?.errors }" palceholder="Qty" />
                                            <div *ngIf="submitted && detail.get('qty')?.errors" class="invalid-feedback">
                                                <div *ngIf=" detail.get('qty').errors?.required">Qty is required </div>
                                            </div>
                                        </td>
                                        <td>
                                            <ng-container *ngFor="let items of getProductUnitPrice(detail.controls['productId'].value)">
                                            {{getTotalPrice(detail.controls['qty'].value,items.price)}}
                                            <input type="hidden" formControlName="totalPrice" class="form-control" [ngModel]="getTotalPrice(detail.controls['qty'].value,items.price)" />
                                          </ng-container>
                                        </td>
                                        <td>
                                            <textarea type="text" class="form-control" rows="1" formControlName="description" placeholder="description"></textarea>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger " (click)="removeDetailsButton(i)"><i class="fa fa-minus-circle" ></i> Remove</button>
                                        </td>

                                    </tr>

                                </ng-container>
                            </ng-container>
                           
                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
         
        </div>

        <br>

    </form>
</div>